---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Frontmatter {
  title: string;
  timeline: string;
  role: string;
  collaborators: string[];
  tools: string[];
  thumbnail: string;
}

const { title, timeline, role, collaborators, tools} =
  Astro.props as Frontmatter;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} — Nico</title>
  </head>
  <body>
    <Nav />

    <main>
      <a href="/">Back</a>

      <h1>{title}</h1>
      <div class="meta">
        <div class="col">
          <p>Timeframe</p>
          <p>{timeline}</p>
        </div>
        <div class="col">
          <p>Role</p>
          <p>{role}</p>
        </div>
        <div class="col">
          <p>Collaborators</p>
          <ul>
            {collaborators.map((person) => <li>{person}</li>)}
          </ul>
        </div>
        <div class="col">
          <p>Tools</p>
          <ul>
            {tools.map((tool) => <li>{tool}</li>)}
          </ul>
        </div>
      </div>
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  main {
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      Segoe UI,
      Roboto,
      Helvetica,
      Arial;
    color: var(--dark);
  }

  h1 {
    font-size: 2.4rem;
    line-height: 1.1;
    letter-spacing: -0.02em;
    margin: 16px 0 24px;
    /* font-weight: 700; */
  }

  .meta {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
    /* font-size: 0.85rem; */
    color: #666;
    /* margin-bottom: 40px; */
  }

  /* col header */
  .col p:first-child {
    font-weight: 600;
    color: #333;
    margin-bottom: 6px;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }

  /* content below header :D */
  .col p:not(:first-child),
  .col li {
    font-size: 0.85rem;
    line-height: 1.4;
    color: #666;
  }

  /* remove bullets */
  .col ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  main :global(li) {
    padding: 0.2rem;
  }

  /* mdx body styling */
  main :global(p) {
    font-size: 1.05rem;
    line-height: 1.75;
    margin: 0 0 1.2rem;
  }

  main :global(h2) {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    letter-spacing: -0.01em;
  }

  @media (min-width: 1100px) {
    main {
      padding: 48px 120px 64px;
    }
  }

  /* responsive meta layout */
  @media (max-width: 1100px) {
    .meta {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 16px;
    }
  }
</style>
